.important {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #EEEEEE;
    border-radius: 20px;
    margin-bottom: 40px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.price {
    padding-top: 20px;
    padding-left: 20px;
}

.price__old-price {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.old-price__value {
    color: #888888;
    font-weight: 500;
}

.old-price__discount {
    color: #FFFFFF;
    font-weight: 500;
    background-color: #F36223;
    padding: 4px 8px;
    border-radius: 30px;
}

.price__like-icon {
    cursor: pointer;
    margin-left: 220px;
}

.price__like-icon_active path {
    fill: #F36223;
    cursor: pointer;
    margin-left: 220px;
}

.price__like-icon:hover path {
    fill: #F36223;
}

.price__like-icon:active path {
    fill: #A93A09;
}


.price__new-price {
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 15px;
}

.delivery {
    margin-left: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.order__btn {
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    width: 380px;
    height: 64px;
    margin: 20px;
    background-color: #F36223;
    border-radius: 4px;
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
}

.order__btn_active {
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    width: 380px;
    height: 64px;
    margin: 20px;
    background-color: #888888;
    border-radius: 4px;
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
}

.order__btn.order__btn_active:hover {
    background-color: #888888;
}

.order__btn::before {
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url(../../../public/img/cart.svg);
    background-repeat: no-repeat;
    background-position: center center;
}



.order__btn:hover {
    background-color: #DA4A0C;
    cursor: pointer;
    transition: 0.5s ease;
}

.order__btn:active {
    background-color:  #A93A09;
}

@media (max-width:1499px) {
    .order__btn {
        width: 320px;
    }

    .price__like-icon {
        cursor: pointer;
        margin-left: 160px;
    }

    .iframes__iframe {
        width: 360px;
    }
}

@media (max-width:1023px) {
    .important {
        margin-bottom: 30px;
    }

    .order__btn {
        font-size: 16px;
    }
}