.page-index__content {
    text-align: center;
    padding-top: 275px;
    font-size: 16px;
    margin-bottom: 20px;
}

.page-index__link {
    text-align: center;
    display: block;
    padding-bottom: 275px;
    color: #008CF0;
}