.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 0px;
    gap: 4px;
}

.nav__wrapper {
    margin-top: 90px;
    margin-bottom: 8px;
}

@media (max-width:1023px) {
    .nav {
        font-size: 14px;
    }
    
    .nav__wrapper {
        margin-top: 60px;
        margin-bottom: 8px;
    }
}

